TrainingDeveloperOrg/force-app/main/default/flows/Create_Case_for_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>X11am_2pm</name>
        <choiceText>11am-2pm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11am-2pm</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2pm_5pm</name>
        <choiceText>2pm-5pm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2pm-5pm</stringValue>
        </value>
    </choices>
    <choices>
        <name>X8am_11am</name>
        <choiceText>8am-11am</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8am-11am</stringValue>
        </value>
    </choices>
    <description>Create Case for Contact</description>
    <dynamicChoiceSets>
        <description>choiceAllContacts</description>
        <name>choiceAllContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>choicePriorityPicklist</description>
        <name>choicePriorityPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>frmStatus</description>
        <name>frmStatus</name>
        <dataType>String</dataType>
        <expression>IF(
{!CloseCase.value} = TRUE, &quot;Closed&quot;, &quot;New&quot;
)</expression>
    </formulas>
    <interviewLabel>Create Case for Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case for Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Case</description>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>776</locationX>
        <locationY>399</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <stringValue>Available callback times: {!CallbackTimes}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Point_of_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ScreenDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>ScreenPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>frmStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ScreenSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <description>Questions</description>
        <name>Questions</name>
        <label>Questions</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Questions_Page_2</targetReference>
        </connector>
        <fields>
            <name>SayThisText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(225, 19, 19);&quot;&gt;(Say this to the caller)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(225, 19, 19);&quot;&gt;Thank you for calling Pyroclastic, Inc. We’re sorry you’re having trouble with our products and we want to help you as quickly as possible. Can you please describe the problem you’re having?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenDescription</name>
            <fieldText>Problem Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenSubject</name>
            <dataType>String</dataType>
            <fieldText>Case Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CloseCase</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Were you able to solve the customer&apos;s problem during this call?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, Solved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No, Not Solved</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Questions Page 2</description>
        <name>Questions_Page_2</name>
        <label>Questions Page 2</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>ScreenPriority</name>
            <choiceReferences>choicePriorityPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What priority would the customer assign to this case?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Point_of_Contact</name>
            <choiceReferences>choiceAllContacts</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>inputContactId</elementReference>
            </defaultValue>
            <fieldText>Point of Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CallbackTimes</name>
            <choiceReferences>X8am_11am</choiceReferences>
            <choiceReferences>X11am_2pm</choiceReferences>
            <choiceReferences>X2pm_5pm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>In which timeslots can we call the customer for follow-up if needed?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Questions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>inputAccountId</description>
        <name>inputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>inputContactId</description>
        <name>inputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
